@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1200, initial-scale=1, maximum-scale=1">
    <title>谷程统计</title>
    <link href="~/Content/css/home.css" rel="stylesheet"  type="text/css" media="all"/>
    <link href="~/Content/css/login.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body onkeydown="keyLogin();">
    <div class="homepage-header-wrapper">
        <div class="l logo">
            <a class="logo-link" href="https://tongji.baidu.com"><img src="/web/image/homepage_logo.png?__v=1548053037920" alt="百度统计"></a>
        </div>
        <div class="r homepage-header-user-info">
            <a href="javascript:void(0)" class="register-btn visitor-btn" id="register">注册</a>
            <a href="javascript:void(0)" class="login-btn visitor-btn" id="login">登录</a>
            <a href="/web/demo/overview/index?siteId=5503017" class="demo-btn visitor-btn">演示</a>
        </div>
        <div class="homepage-header-nav">
            <div class="nav-item">
                <a href="gc_home.html" class="nav-item-label">首页</a>
            </div>
            <div class="nav-item">
                <a href="gc_h_products.html" class="nav-item-label">产品介绍</a>
            </div>
            <div class="nav-item">
                <a href="gc_h_case.html" class="nav-item-label">成功案例</a>
            </div>
            <div class="nav-item">
                <a href="gc_h_help.html" class="nav-item-label">帮助中心</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="constent">
            <!-- 内容区块开始 -->

            <div id="SlidesInteractive" class="slide">
                <div id="SlidesContainer" style="position: relative; overflow: hidden;">
                    <div id="SliderLoading">loading...</div>
                    <div id="Slider" style="position: absolute; left: -5709px; top: 0px;"><table cellspacing="0" cellpadding="0" border="0" id="SliderTable"><tbody><tr><td id="41"><a href="https://mtj.baidu.com/web/welcome/media?detail=22" target="_blank"><span style="background-image:url('https://tongji.baidu.com/static/images/2l57m7qjxr1548663032142.png');background-image: -webkit-image-set(url('https://tongji.baidu.com/static/images/2l57m7qjxr1548663032142.png') 1x, url('https://tongji.baidu.com/static/images/2l57m7qjxr1548663032142@2x.png') 2x);width:1903px;height:500px;"></span></a></td><td id="42"><a href="https://mtj.baidu.com/web/welcome/media?detail=13" target="_blank"><span style="background-image:url('https://tongji.baidu.com/static/images/6lb82xc3wn1547110226444.png');background-image: -webkit-image-set(url('https://tongji.baidu.com/static/images/6lb82xc3wn1547110226444.png') 1x, url('https://tongji.baidu.com/static/images/6lb82xc3wn1547110226444@2x.png') 2x);width:1903px;height:500px;"></span></a></td><td id="43"><a href="https://mtj.baidu.com/web/welcome/media?detail=10" target="_blank"><span style="background-image:url('https://tongji.baidu.com/static/images/2eo2qbo4k41547110229395.png');background-image: -webkit-image-set(url('https://tongji.baidu.com/static/images/2eo2qbo4k41547110229395.png') 1x, url('https://tongji.baidu.com/static/images/2eo2qbo4k41547110229395@2x.png') 2x);width:1903px;height:500px;"></span></a></td><td id="44"><a href="https://mtj.baidu.com/web/welcome/media?detail=3" target="_blank"><span style="background-image:url('https://tongji.baidu.com/static/images/2z5vmi8jja1547110232779.png');background-image: -webkit-image-set(url('https://tongji.baidu.com/static/images/2z5vmi8jja1547110232779.png') 1x, url('https://tongji.baidu.com/static/images/2z5vmi8jja1547110232779@2x.png') 2x);width:1903px;height:500px;"></span></a></td><td id="45"><a href="https://tongji.baidu.com/web/welcome/media?detail=15" target="_blank"><span style="background-image:url('https://tongji.baidu.com/static/images/9agw5nzx0v1547110220315.png');background-image: -webkit-image-set(url('https://tongji.baidu.com/static/images/9agw5nzx0v1547110220315.png') 1x, url('https://tongji.baidu.com/static/images/9agw5nzx0v1547110220315@2x.png') 2x);width:1903px;height:500px;"></span></a></td></tr></tbody></table></div>
                    <div class="slider-btn clearfix" style="opacity: 0.85;">
                        <div id="SliderBtn" class="slider-btn-control"><ul><li class=""></li><li class=""></li><li class=""></li><li class="on"></li><li class=""></li></ul></div>
                    </div>
                </div>
            </div>
            <div class="hp-row hp-latest-news">
                <div class="hp-latest-news-item l ">
                    <a href="https://mtj.baidu.com/web/welcome/media?detail=3" target="_blank">
                        <div class="hp-latest-news-item-title ellipsis" title="移动统计全新推出APP端热力图">移动统计全新推出APP端热力图</div>
                        <div class="hp-latest-news-item-body ellipsis" title="借助热力图，可以直观地观察到用户的总体访问情况和点击偏好">借助热力图，可以直观地观察到用户的总体访问情况和点击偏好</div>
                    </a>
                </div>
                <div class="hp-latest-news-item l ">
                    <a href="https://mtj.baidu.com/web/welcome/media?detail=13" target="_blank">
                        <div class="hp-latest-news-item-title ellipsis" title="移动统计微信小程序统计二期上线啦！">移动统计微信小程序统计二期上线啦！</div>
                        <div class="hp-latest-news-item-body ellipsis" title="新增用户画像、分享等功能，全方位监控您的用户属性、分享传播情况。">新增用户画像、分享等功能，全方位监控您的用户属性、分享传播情况。</div>
                    </a>
                </div>
                <div class="hp-latest-news-item l last">
                    <a href="https://mtj.baidu.com/web/welcome/media?detail=10" target="_blank">
                        <div class="hp-latest-news-item-title ellipsis" title="移动统计推荐选择无埋点SDK">移动统计推荐选择无埋点SDK</div>
                        <div class="hp-latest-news-item-body ellipsis" title="无需埋点秒级出图，独享热力图、信息流分析等高级功能">无需埋点秒级出图，独享热力图、信息流分析等高级功能</div>
                    </a>
                </div>
            </div>
            <div class="hp-whole-row hp-products">
                <div class="hp-whole-row-content hp-products-detail">
                    <div class="hp-products-title">
                        <h2>全面的配套产品与服务</h2>
                        <h4>集合网站、APP、线下零售统计，汇聚成全面的数据分析平台</h4>
                    </div>
                    <div class="hp-products-content">
                        <div class="hp-products-content-item l">
                            <div class="hp-products-content-item-logo">
                                <img src="img/home/product-mtj.png" alt="移动统计">
                            </div>
                            <div class="hp-products-content-item-title">移动统计</div>
                            <div class="hp-products-content-item-desc">业界领先的免费移动应用统计分析工具，轻量SDK快速部署，全面监测产品表现，准确洞察用户行为。</div>
                            <div class="hp-products-content-item-opts">
                                <a href="https://mtj.baidu.com" target="_blank"><span>立即体验</span><em></em></a>
                            </div>
                        </div>
                        <div class="hp-products-content-item l">
                            <div class="hp-products-content-item-logo">
                                <img src="img/home/product-hm.png" alt="网站统计">
                            </div>
                            <div class="hp-products-content-item-title">网站统计</div>
                            <div class="hp-products-content-item-desc">全球最大的中文网站流量分析平台，为网站的精细化运营决策提供数据支持，进而有效提高企业的投资回报率。</div>
                            <div class="hp-products-content-item-opts">
                                <a href="javascript:void(0)" class="login-trigger"><span>立即体验</span><em></em></a>
                            </div>
                        </div>
                        <div class="hp-products-content-item l last">
                            <div class="hp-products-content-item-logo">
                                <img src="img/home/product-offline.png?__v=1548053037920" alt="零售解决方案">
                            </div>
                            <div class="hp-products-content-item-title">零售解决方案</div>
                            <div class="hp-products-content-item-desc">提供选址决策、场内外客群洞察以及精准触达等服务，为合作伙伴赋能。</div>
                            <div class="hp-products-content-item-opts">
                                <a href="http://retail.baidu.com" target="_blank"><span>立即体验</span><em></em></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hp-row hp-solutions">
                <div class="hp-solutions-title">
                    <h2>更专注、结合使用场景的整体解决方案</h2>
                    <h4>深耕场景需求，方案量身定制；敏锐洞察、更具前瞻性</h4>
                </div>
                <div class="hp-solutions-content" id="hp-solutions-tab">
                    <div class="tabs">
                        <ul class="selected">
                            <li class="selected">推广效果跟踪</li>
                            <li>多端监控分析</li>
                            <li>高级分析平台</li>
                        </ul>
                    </div>
                    <div class="tab-contents">
                        <ul>
                            <li>
                                <div class="hp-solutions-item hp-solutions-item-pro">
                                    <div class="hp-solutions-item-img l">
                                        <img src="img/home/hp-solution-1.png" alt="推广效果跟踪">
                                    </div>
                                    <div class="hp-solutions-item-desc">
                                        <div class="hp-solutions-item-desc-title">推广效果跟踪</div>
                                        <div class="hp-solutions-item-desc-subtitle">无缝打通百度推广最细粒度数据，深入洞察网络营销的每一个细节</div>
                                        <div class="hp-solutions-item-desc-detail">
                                            <p>一段代码，无需设置，全面监控关键词、投放各渠道的推广效果</p>
                                            <p>电话咨询、在线沟通、订单购买，转化效果一站式分析评估</p>
                                            <p>热力图、页面上下游等强力页面分析工具，助您优化网页体验</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="display:none">
                                <div class="hp-solutions-item hp-solutions-item-clients">
                                    <div class="hp-solutions-item-img l">
                                        <img src="/web/image/hp-solution-2.png?__v=1548053037920" alt="多端监控分析">
                                    </div>
                                    <div class="hp-solutions-item-desc">
                                        <div class="hp-solutions-item-desc-title">PC+Mobile的多端监控分析</div>
                                        <div class="hp-solutions-item-desc-subtitle">在网站统计的基础功能上，同时支持全形态的移动端数据统计与分析，为您提供一站式服务</div>
                                        <div class="hp-solutions-item-desc-detail">
                                            <p>支持Android和iOS的原生APP</p>
                                            <p>支持多形态混合架构APP，如Hybrid、Cordova/PhoneGap/React Native等</p>
                                            <p>支持移动端web站、各类H5应用</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="display:none">
                                <div class="hp-solutions-item hp-solutions-item-analytics">
                                    <div class="hp-solutions-item-img l">
                                        <img src="/web/image/hp-solution-3.png?__v=1548053037920" alt="高级分析平台">
                                    </div>
                                    <div class="hp-solutions-item-desc">
                                        <div class="hp-solutions-item-desc-title">高级分析平台</div>
                                        <div class="hp-solutions-item-desc-subtitle">支持客户定制属于自己的大数据online BI分析平台</div>
                                        <div class="hp-solutions-item-desc-detail">
                                            <p>提供多维度交叉分析、漏斗分析、留存分析等高阶分析方法，帮助客户快速定位系统短板、获取转化及渠道成本</p>
                                            <p>同时引入百度大数据用户理解，结合人群精细化分组，让企业真正了解自己的用户，辅助决策，提升营销效果</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hp-row hp-tec">
                <div class="hp-tec-title">
                    <h2>技术和产品优势</h2>
                    <h4>基于国际领先的大数据技术能力、百度海量的数据资源，倾情打造</h4>
                </div>
                <div class="hp-tec-content">
                    <div class="hp-tec-item l">
                        <img src="img/home/hp-use.png" alt="极简接入">
                        <div class="hp-tec-item-title">极简接入</div>
                        <div class="hp-tec-item-desc">零成本接入，辅以完备的指导说明，践行简单易用、即安即用的理念</div>
                    </div>
                    <div class="hp-tec-item l">
                        <img src="img/home/hp-perf.png" alt="秒级响应">
                        <div class="hp-tec-item-title">秒级响应</div>
                        <div class="hp-tec-item-desc">百度成熟的分布式计算框架、海量数据存储引擎等先进技术，数据秒级响应</div>
                    </div>
                    <div class="hp-tec-item l">
                        <img src="img/home/hp-stable.png" alt="稳定性强">
                        <div class="hp-tec-item-title">稳定性强</div>
                        <div class="hp-tec-item-desc">冷热双备、大规模服务器集群的稳定性保证，确保网站数据安全、稳定、实时</div>
                    </div>
                    <div class="hp-tec-item l">
                        <img src="img/home/hp-export.png" alt="数据导出">
                        <div class="hp-tec-item-title">数据导出</div>
                        <div class="hp-tec-item-desc">流量、消费与用户业务数据无缝对接, 开放数据支持用户自建数据平台</div>
                    </div>
                    <div class="hp-tec-item l last">
                        <img src="img/home/hp-resource.png" alt="海量资源">
                        <div class="hp-tec-item-title">海量资源</div>
                        <div class="hp-tec-item-desc">丰富的用户标签和大数据用户理解，助力用户洞察、人群精细化分组</div>
                    </div>
                </div>
            </div>
            <div class="hp-whole-row hp-feature">
                <div class="hp-whole-row-content hp-feature-detail">
                    <div class="hp-feature-title">
                        <h2>全球最大的中文网站流量分析平台</h2>
                        <h4>为网站的精细化运营决策提供数据支持，有效提高企业的投资回报率</h4>
                    </div>
                    <div class="hp-feature-content" id="hp-feature-tab">
                        <div class="tabs">
                            <ul class="selected">
                                <li class="selected">
                                    <div class="hp-feature-item-title l hp-feature-item-analytics">高级分析</div>
                                    <div class="hp-feature-item-subtitle">通过在线实时分析的BI平台，支持用户通过多个维度交叉分析，进行个性化数据定制。结合用户画像、分群等高阶分析方式，快速定位系统问题、获取转化及渠道效果，同时满足日常监控需求，快速定位系统短板，辅助决策、优化留存。</div>
                                </li>
                                <li class="hp-feature-small">
                                    <div class="hp-feature-item-title l hp-feature-item-pro">百度推广</div>
                                    <div class="hp-feature-item-subtitle">无缝结合百度推广、衡量广告效果;转化质量度加分，低成本提升转化；转化漏斗细分，优化流程减少流失；为网站的精细化运营决策提供数据支持，进而有效提高企业的投资回报率。</div>
                                </li>
                                <li>
                                    <div class="hp-feature-item-title l hp-feature-item-seo">SEO</div>
                                    <div class="hp-feature-item-subtitle">独家获取百度搜索词，帮助您及时了解访客搜索意图；与搜索引擎抓取爬虫强合作，统计代码将网站页面实时推送至百度收录库，加速网站被检索到的速度，更早触达访客；网站速度诊断、SEO抓取建议等功能，帮助用户实时掌握SEO效果。</div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-contents">
                            <ul>
                                <li style="width: 827.5px;"><img src="img/home/hp-feature-bg-1.png" alt="高级分析"></li>
                                <li style="display: none; width: 827.5px;"><img src="/web/image/hp-feature-bg-2.png?__v=1548053037920" alt="百度推广"></li>
                                <li style="display: none; width: 827.5px;"><img src="/web/image/hp-feature-bg-3.png?__v=1548053037920" alt="SEO"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hp-row hp-typical-user">
                <div class="hp-typical-user-title">
                    <h2>典型客户</h2>
                    <h4>全心全意，竭诚为您服务</h4>
                </div>
                <div class="hp-typical-user-content">
                    <div id="hp-typical-user-tab">
                        <div class="tabs">
                            <ul class="selected">
                                <li class="selected">7k7k小游戏</li>
                                <li>PP视频</li>
                                <li>站长之家</li>
                            </ul>
                        </div>
                        <div class="tab-contents">
                            <ul>
                                <li>
                                    <div class="hp-typical-user-item">
                                        <div class="hp-typical-user-item-overview l">
                                            <div class="hp-typical-user-item-img"><img src="img/home/hp-typical-user-7k7k.png" alt="7k7k"></div>
                                            <div class="hp-typical-user-item-corp">7k7k小游戏 COO</div>
                                            <div class="hp-typical-user-item-name">刘学</div>
                                        </div>
                                        <div class="hp-typical-user-item-detail">
                                            <div class="hp-typical-user-item-detail-title">“百度统计能够提供准确可靠的数据”</div>
                                            <div class="hp-typical-user-item-detail-desc">百度统计不仅功能强大易用，更为重要的是提供安全稳定的服务和准确可靠的数据，这一点是其他任何一款统计工具无法比拟的。7k7k小游戏正是基于网站统计强大的功能和可靠的数据，不断优化网站，把控内容的优劣把控和网站布局上更加得心应手。</div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:none">
                                    <div class="hp-typical-user-item">
                                        <div class="hp-typical-user-item-overview l">
                                            <div class="hp-typical-user-item-img"><img src="/web/image/hp-typical-user-pptv.png?__v=1548053037920" alt="7k7k"></div>
                                            <div class="hp-typical-user-item-corp">PP视频 网站产品负责人</div>
                                            <div class="hp-typical-user-item-name">朱悦</div>
                                        </div>
                                        <div class="hp-typical-user-item-detail">
                                            <div class="hp-typical-user-item-detail-title">“百度统计能够洞察全面的访客浏览行为及轨迹”</div>
                                            <div class="hp-typical-user-item-detail-desc">百度统计为网站运营提供了非常精准的数据，使得我们最大化的了解了访客的浏览行为和点击习惯，为PPTV网络电视产品的更新提供了最给力最直观的数据支持，感谢网站统计团队！</div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:none">
                                    <div class="hp-typical-user-item">
                                        <div class="hp-typical-user-item-overview l">
                                            <div class="hp-typical-user-item-img"><img src="/web/image/hp-typical-user-chinaz.png?__v=1548053037920" alt="7k7k"></div>
                                            <div class="hp-typical-user-item-corp">站长之家 北分总经理</div>
                                            <div class="hp-typical-user-item-name">邱松</div>
                                        </div>
                                        <div class="hp-typical-user-item-detail">
                                            <div class="hp-typical-user-item-detail-title">“百度统计能够极大地提升使用者的运营能力”</div>
                                            <div class="hp-typical-user-item-detail-desc">百度统计帮助了中国站长从不同角度去理解网站运营，将过去简单的“看流量”的习惯转变为“看懂流量”，极大地提升了使用者的运营能力。</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hp-typical-user-icons">
                    <img src="img/home/typical-user-list.png" alt="典型用户列表">
                </div>
            </div>
            <div class="hp-whole-row hp-start">
                <div class="hp-whole-row-content hp-start-detail">
                    <h2>点击一下，开始使用</h2>
                    <div class="hp-start-opts">
                        <a href="/web/demo/overview/index?siteId=5503017" class="btn">查看演示</a>
                        <a href="javascript:void(0)" class="login-trigger btn">立即体验</a>
                    </div>
                </div>
            </div>
            <script id="LoginTemplate" type="text/template">
                <div class="hp-dialog-close">
                    <span>✖</span>
                </div>
                <div id="LoginContainer" class="login-dialog">
                    <div class="login-dialog-title">
                        <p>欢迎来到百度统计</p>
                    </div>
                    if (this.isIco == 1) {
                    <div id="LoginMain" class="ico-login clearfix">
                        <div class="visitor-login-tab" id="LoginTab">请输入查看密码</div>
                        <div id="LoginInput" class="login-input">
                                <input type="hidden" value="0" id="Appid" name="appid">
                                <div class="form-item">
                                    <input type="password" class="client-password-input" id="Client_Password" name="passwd" style="ime-mode: disabled" placeholder="请输入查看密码" />
                                </div>
                                <div class="error-msg-row">
                                    if (this.errMsg) {
                                    <div id="ErrorTip" class="error">#{this.errMsg}</div>
                                    }
                                    <div class="error" id="ErrorNoSubmit" style="display: none;">
                                    </div>
                                </div>
                                <div class="form-buttons">
                                    <input type="submit" id="Client_Submit" class="login-btn l" value="登录" />
                                </div>
                                <div class="login-help-row">
                                    <a href="#" id="change_tj_login_type" class="l">切换到管理员登录</a>
                                </div>
                                <input type="hidden" value="utf-8" name="charset" />
                                <input type="hidden" value="1" name="senderr" />
                        </div>
                    </div>
                    }
                    else {
                    <div id="LoginMain" class="login-main">
                        <div class="login-main-account-info">统计/推广/联盟 账号请在此登录</div>
                        <div id="LoginInput" class="login-input">
                                <input type="hidden" value="12" id="Appid" name="appid">
                                <div class="form-item login-username">
                                    <input type="text" class="text form-item-input" tabindex="1" id="UserName" autocomplete="off" name="entered_login" value="" placeholder="请输入用户名">
                                </div>
                                <div class="form-item login-pwd">
                                    <div id="uc-safe-pwd-input" class="uc-safe-pwd-input-hidden"></div>
                                    <input type="password" class="text form-item-input" tabindex="2" id="Password" autocomplete="off" name="entered_password" style="ime-mode: disabled" placeholder="密码">
                                </div>
                                <div class="form-item login-vcode">
                                    <input type="text" class="text form-item-input" id="Valicode" tabindex="3" name="entered_imagecode" maxlength="4" autocomplete="off" style="ime-mode:disabled" placeholder="验证码">
                                    <img src="/User/GetCodeImg?id=0.111565465" id='cas_code' width="70" height="38" align="middle" />
                                </div>
                                <div class="form-buttons">
                                    <input type="button" id="Submit" tabindex="4" class="login-btn form-btn l" value="登录" />
                                </div>
                                <div class="login-help-row">
                                    <a href="#{this.webMasterRegister}" target="_blank">立即注册</a>
                                    <a href="#{this.uc_forget}" target="_blank" class="r">忘记密码</a>
                                </div>
                                <input type="hidden" value="utf-8" name="charset" />
                                <input type="hidden" value="#{this.fromUrl}" name="fromu" />
                                <input type="hidden" value="#{this.selfUrl}" name="selfu" />
                                <input type="hidden" value="1" name="senderr" />
                        </div>
                    </div>
                    }
                </div>
            </script>

            <!-- 内容区块结束 -->
        </div>
    </div>
    <div class="footer">
        <div class="footer-links">
            <div class="footer-links-block l">
                <div class="footer-links-block-title">产品与服务</div>
                <div class="footer-links-block-content">
                    <ul>
                        <li><a href="https://tongji.baidu.com">百度统计-网站统计</a></li>
                        <li><a href="https://mtj.baidu.com ">百度统计-移动统计</a></li>
                        <li><a href="http://retail.baidu.com" target="_blank">零售解决方案</a></li>
                        <li><a href="http://datamarket.baidu.com" target="_blank">百度数据市场</a></li>
                        <li><a href="https://tongji.baidu.com/open/">统计开放平台</a></li>
                        <li><a href="http://tongji.baidu.com/data/">流量研究院</a></li>
                        <li><a href="http://di.baidu.com" target="_blank">百度数智平台</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-links-block l">
                <div class="footer-links-block-title">开发者中心</div>
                <div class="footer-links-block-content">
                    <ul>
                        <li><a href="/web/help/article?id=123&amp;type=0">自助开通数据导出服务</a></li>
                        <li><a href="https://tongji.baidu.com/open/">统计开放平台</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-links-block l">
                <div class="footer-links-block-title">文档中心</div>
                <div class="footer-links-block-content">
                    <ul>
                        <li><a href="/web/image/%E7%99%BE%E5%BA%A6%E5%8F%91%E5%B8%83%E3%80%8A%E7%BD%91%E7%AB%99%E5%88%86%E6%9E%90%E7%99%BD%E7%9A%AE%E4%B9%A6V3.0%E3%80%8B.pdf">百度统计白皮书</a></li>
                        <li><a href="/web/help/index?from=2">帮助中心</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-links-block l">
                <div class="footer-links-block-title">关于我们</div>
                <div class="footer-links-block-content">
                    <ul>
                        <li><a href="/web/help/article?id=276&amp;type=0">联系我们</a></li>
                        <li><a href="http://tieba.baidu.com/f/good?kw=百度统计&amp;ie=utf-8&amp;tp=0&amp;tab=good" target="_blank">网站统计贴吧</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-links-block l last">
                <div class="footer-links-block-title">扫描关注二维码</div>
                <div class="footer-links-block-content">
                    <ul>
                        <li><img src="/web/image/hp-qr.png?__v=1548053037920" alt="扫描关注二维码" width="112" height="112"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-corp">
            <div class="footer-corp-mail">
                <a href="http://di.baidu.com" target="_blank">百度数据智能平台</a>
                <span class="bdg-qr">微信二维码<img src="" alt="百度数智平台"></span>
                <span>售前咨询：dihelp@baidu.com</span>
                <span>售后咨询：diquestion@baidu.com</span>
                <span>QQ群：650596829</span>
            </div>
            <div class="footer-corp-info">
                <span>©2019 Baidu</span>
                <a href="https://www.baidu.com/duty/" target="_blank">使用百度前必读</a>
                <a href="https://tongji.baidu.com/web/help/article?id=314&amp;type=0" target="_blank">服务协议</a>
            </div>
        </div>
    </div>

    <div class="dialog modal" id="jquery-dialog--HM__1modal" style="position: absolute; top: 0px; left: 0px; background-color: black; width: 1903px; height: 4898px; opacity: 0.6; z-index: 99998; display: none;"></div>
    <div class="dialog-container dialog" id="jquery-dialog--HM__1" style="position: absolute; z-index: 99999; width: 380px; top: 30.5px; left: 761.5px; display: none;">
        <div class="dialog-title">
            <div class="dialog-title-text"></div>
        </div>
        <div class="dialog-content">
            <div class="hp-dialog-close"><span>✖</span></div>
            <div class="login-dialog" id="LoginContainer">
                <div class="login-dialog-title"><p>欢迎来到百度统计</p></div>
                <div class="login-main" id="LoginMain">
                    <div class="login-main-account-info">统计/推广/联盟 账号请在此登录</div>
                    <div class="login-input" id="LoginInput">
                        <input id="Appid" name="appid" type="hidden" value="12">
                        <div class="form-item login-username">
                            <input autocomplete="off" class="text form-item-input" id="UserName" name="entered_login" placeholder="请输入用户名" tabindex="1" type="text" value="">
                        </div>
                        <div class="form-item login-pwd">
                            <div class="uc-safe-pwd-input-hidden" id="uc-safe-pwd-input"></div>
                            <input autocomplete="off" class="text form-item-input" id="Password" name="entered_password" placeholder="密码" style="ime-mode: disabled" tabindex="2" type="password">
                        </div>
                        <div class="form-item login-vcode">
                            <input autocomplete="off" class="text form-item-input" id="Valicode" maxlength="4" name="entered_imagecode" placeholder="验证码" style="ime-mode:disabled" tabindex="3" type="text">
                            @*<img align="middle" alt="验证码" height="38" id="cas_code" src="https://cas.baidu.com/?action=image&amp;key=1552613444&amp;random=1552614605451" width="70">*@
                            <img src="/User/GetCodeImg?id=0.111565465" id='cas_code' width="70" height="38" align="middle" />
                        </div>
                        <div class="error-msg-row">
                            <div class="error" id="ErrorNoSubmit" style="display: none;"></div>
                        </div>
                        <div class="form-buttons">
                            <input class="login-btn form-btn l" id="Submit" tabindex="4" type="button" value="登录">
                        </div>
                        <div class="login-help-row">
                            <a href="" target="_blank">立即注册</a>
                            <a class="r" href="#" target="_blank">忘记密码</a>
                        </div>
                        <input name="charset" type="hidden" value="utf-8">
                        <input name="fromu" type="hidden" value="https://tongji.baidu.com/web/welcome/loginback">
                        <input name="selfu" type="hidden" value="https://tongji.baidu.com/web/welcome/login?castk=LTE%3D">
                        <input name="senderr" type="hidden" value="1">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script>
        $(".visitor-btn").on("click", function () {
            $("#jquery-dialog--HM__1modal").css("display", "block");
            $("#jquery-dialog--HM__1").css("display", "block");
        });
        $(".hp-dialog-close").on("click", function () {
            $("#jquery-dialog--HM__1modal").css("display", "none");
            $("#jquery-dialog--HM__1").css("display", "none");
        });
        $("#cas_code").click(function () {
            $("#cas_code").attr("src", "/User/GetCodeImg?id=" + Math.random());
        });

        //登录验证
        $("#Submit").click(function () {
            if ($("#UserName").val() != "" && $("#Password").val() != "" && $("#Valicode").val() != "") {
                $.ajax({
                    url: '/User/Login',
                    type: 'post',
                    data: { name: $("#UserName").val(), pwd: $("#Password").val(), code: $("#Valicode").val() },
                    dataType: 'json',
                    beforeSend: function () {
                        $("#Submit").append("<tr class='source-loading'><td class='empty-td' colspan='8' align='middle' style='text-align: center;height: 200px;'><img src='/img/loading.gif' style='vertical-align: middle;margin-right: 5px;' />数据正在加载中...</td></tr>");
                    },
                    complete: function () {
                        $("#Submit .source-loading").remove();
                    },
                    success: function (data) {
                        if (data.success == 1) {
                            window.location.href = "/Home/Index?userId=" + data.id;
                        }
                        else if (data.success == 2) {
                            alert("用户名或密码错误！");
                        }
                        else if (data.success == 3) {
                            alert("验证码错误！");
                            $("#cas_code").attr("src", "/User/GetCodeImg?id=" + Math.random());
                        }
                    }
                });
            }
            else if ($("#UserName").val() != "" && $("#Password").val() != "" && $("#Valicode").val() == "") {
                alert("请输入验证码！");
            }
            else {
                alert("请输入用户名或密码！");
            }
        });
        function keyLogin() {
            if (window.event.keyCode == 13) {
                //回车键的键值为13
                document.getElementById("Submit").click();
            }//调用登录按钮的登录事件
        }
    </script>
</body>
</html>