@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>报告</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/layui/css/layui.css">
    <link href="~/css/common.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/overview.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/layui/layui.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/echarts.min.js"></script>
    <script src="~/js/china.js"></script>
</head>
<body id="main-body">
    <div class="header-wrapper" id="header">
        <div class="header clearfix">
            <div class="logo l">
                <a :href="'/web/26754769/overview/index?siteId=' + items"><img src="~/img/logo4.png" alt="百度统计"></a>
                <span class="logo-title">网站统计</span>
            </div>
            <div class="view-tab l">
                <a href="gc_index.html" class="" id="homepage">主页</a>
                <a href="gc_report.html" class="selected">报告</a>
                <a href="gc_analysis.html" target="_blank">高级分析</a>
                <a href="gc_management.html" target="_blank" class="site-center">管理</a>
            </div>
            <div class="top-nav r">
                <div class="selector site-selector top-nav-item" id="site-list-container">
                    <div class="arrow close">
                    </div>
                    <div class="text" title="sh808web.com">
                        sh808web.com
                    </div>
                    <a href="javascript:void(0)" title="设为默认网站" id="set-current-default-site" data="items" class="set-default is-not-default"></a>
                    <ul class="site-selector-options hm-scroll" style="display: none" id="site-list">
                        <li>
                            <em class="sub-dir-arrow "></em>
                            <a href="javascript:void(0);" data="items" class="url" title="sh808web.com-sh808web.com">sh808web.com-sh808web.com</a>
                            <a href="javascript:void(0)" data="items" class="set-default is-not-default" title="设为默认网站"></a>
                        </li>
                    </ul>
                </div>

                <a id="event-monitor-help-center" href="http://tongji.baidu.com/web/help/index?from=2" class="more-apps top-nav-item  my-service" target="_blank">帮助中心</a>
                <span class="more-tools top-nav-item layer" id="span2">
                    <span class="icon icon-font"></span>
                    <ul class="content hide" id="sp2">
                        <li class="item">
                            <a href="http://www2.baidu.com/gucheng.html" target="_blank">谷程推广</a>
                        </li>
                        <li class="item">
                            <a href="http://union.baidu.com/gucheng.html" target="_blank">谷程联盟</a>
                        </li>
                        <li class="item">
                            <a href="http://dmp.baidu.com/gucheng.html" target="_blank">谷程DMP</a>
                        </li>
                        <li class="item">
                            <a href="http://zhanzhang.baidu.com/gucheng.html" target="_blank">站长平台</a>
                        </li>
                        <li class="item">
                            <a href="http://jingsuan.baidu.com/gucheng.html" target="_blank">谷程精算</a>
                        </li>
                        <li class="item">
                            <a href="http://di.baidu.com/gucheng.html" target="_blank">谷程数智平台</a>
                        </li>
                    </ul>
                </span>
                <span class="more-tools top-nav-item layer account-wrapper" id="span1">
                    <span class="account">
                    </span>
                    <em></em>
                    <ul class="content hide" id="sp1">
                        <li class="item">
                            <a href="/gucheng.html/tongji.baidu.com/web/help/article?id=276&amp;type=0" target="_blank">联系我们</a>
                        </li>
                        <li class="item">
                            <a href="/gucheng.html/tongji.baidu.com/web/help/index?from=2" target="_blank">帮助中心</a>
                        </li>
                        <li class="item">
                            <a href="/web/26754769/welcome/logout" id="event-monitor-logout">退出</a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="aside" id="aside">
            <div class="nav-wrapper">
                <div class="title">
                    <span class="l nav-text">网站导航</span>
                    <span id="event-monitor-operation" class="operation close icon-font"></span>
                </div>
                <ul class="nav hm-scroll" id="main-menu">
                    <li class="common-report menu-item clearfix">
                        <span class="add-common-report">
                            <span class="expandable recordable open" memo="{id:'0',type:'menu',global:1,status:''}">
                                <span class="icon icon-font"></span>
                                <span class="item-title">常用报告</span>
                            </span>
                            <a class="setting-icon icon-font" href="gc_index.html"></a>
                        </span>
                        <ul class="expandable-level1 expandable-content"></ul>
                    </li>
                    <li class="pro-overview menu-item pro-overview-selected  clearfix">
                        <a href="gc_report.html">
                            <span class="icon icon-font"></span>
                            <span data="85" class="item-title menu-label">网站概况</span>
                        </a>
                        <ul class="expandable-level1 expandable-content"></ul>
                    </li>

                    <li class="flow-analysis menu-item clearfix">
                        <a href="javascript:void(0)" class="expandable recordable close" memo="{id:'94',type:'menu',global:1,status:'1'}">
                            <span class="icon icon-font"></span>
                            <span class="item-title">流量分析</span>
                        </a>
                        <ul class="expandable-level1 expandable-content liulian" style="display:none">
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="95" class="l menu-label">实时访客</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <span class="trend">
                                    <a data="96" class="trend-title menu-label  " :href="'/web/26754769/overview/index?siteId=' + items">趋势分析</a>
                                    <a id="event-monitor-today" :href="'/web/26754769/overview/index?siteId=' + items" class="day">今</a>
                                    <a id="event-monitor-yesterday" href="/web/26754769/trend/time?siteId=12774508&amp;flag=yesterday" class="day">昨</a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li class="source-analysis menu-item clearfix">
                        <a href="javascript:void(0)" class="expandable recordable close" memo="{id:'98',type:'menu',global:1,status:'1'}">
                            <span class="icon icon-font"></span>
                            <span class="item-title">来源分析</span>
                        </a>
                        <ul class="expandable-level1 expandable-content liulian" style="display:none">
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="99" class="l menu-label">全部来源</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="100" class="l menu-label">搜索引擎</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="101" class="l menu-label">搜索词</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="102" class="l menu-label">外部链接</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="104" class="l menu-label">指定广告跟踪</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="visit-analysis menu-item clearfix">
                        <a href="javascript:void(0)" class="expandable recordable close" memo="{id:'105',type:'menu',global:1,status:'1'}">
                            <span class="icon icon-font"></span>
                            <span class="item-title">访问分析</span>
                        </a>
                        <ul class="expandable-level1 expandable-content liulian" style="display:none">
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="108" class="l menu-label">受访页面</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="109" class="l menu-label">入口页面</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="110" class="l menu-label">受访域名</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="106" class="l menu-label">页面点击图</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="107" class="l menu-label">页面上下游</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="111" class="l menu-label">事件分析</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="112" class="l menu-label">子目录</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="visitor-analysis menu-item clearfix">
                        <a href="javascript:void(0)" class="expandable recordable close" memo="{id:'119',type:'menu',global:1,status:'1'}">
                            <span class="icon icon-font"></span>
                            <span class="item-title">访客分析</span>
                        </a>
                        <ul class="expandable-level1 expandable-content liulian" style="display:none">
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="120" class="l menu-label">地域分布</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="121" class="l menu-label">系统环境</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="122" class="l menu-label">新老访客</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="123" class="l menu-label">访客属性</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="124" class="l menu-label">忠诚度</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " :href="'/web/26754769/overview/index?siteId=' + items">
                                    <span data="125" class="l menu-label">自定义变量</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="optimize-analysis menu-item clearfix">
                        <a href="javascript:void(0)" class="expandable recordable close" memo="{id:'126',type:'menu',global:1,status:'1'}">
                            <span class="icon icon-font"></span>
                            <span class="item-title">优化分析</span>
                        </a>
                        <ul class="expandable-level1 expandable-content liulian" style="display:none">
                            <li>
                                <a class=" " href="/web/26754769/opt/security?siteId={{siteId}}">
                                    <span data="134" class="l menu-label">网站安全</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class=" expandable recordable close" memo="{id:'135',type:'menu',global:1,status:'1'}">
                                    <span class="l">网页抓取</span>
                                    <span class="toggle close-icon"></span>
                                </a>
                                <ul class="expandable-level2 expandable-content liulian" style="display:none">
                                    <li>
                                        <a href="/web/26754769/opt/indexes?siteId={{siteId}}" class="">
                                            <span class="l menu-label" data="129">百度索引量</span>
                                            <span class="normal icon-font">&nbsp;</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/web/26754769/opt/crawl?siteId={{siteId}}" class="">
                                            <span class="l menu-label" data="133">抓取异常</span>
                                            <span class="normal icon-font">&nbsp;</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/web/26754769/opt/robots?siteId={{siteId}}" class="">
                                            <span class="l menu-label" data="136">Robots</span>
                                            <span class="normal icon-font">&nbsp;</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class=" " href="/web/26754769/opt/searchwordrank?siteId={{siteId}}">
                                    <span data="128" class="l menu-label">搜索词排名</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " href="/web/26754769/opt/speed?siteId={{siteId}}">
                                    <span data="130" class="l menu-label">网站速度诊断</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                            <li>
                                <a class=" " href="/web/26754769/opt/updown?siteId={{siteId}}">
                                    <span data="131" class="l menu-label">升降榜</span>
                                    <span class="normal icon-font">&nbsp;</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="simple-nav-wrapper hide">
                <div class="title">
                    <span id="unfold" class="operation open icon-font"></span>
                </div>
                <ul class="simple-nav">
                    <li class="common-report menu-item clearfix">
                        <a class="super-menu-item" href="javascript:void(0)">
                            <span class="icon icon-font"></span>
                        </a>
                        <ul class="item-content hide">
                            <li class="nav-title single clearfix">
                                <a data="0" href="/web/26754769/custommenu?siteId={{siteId}}" class="menu-label">常用报告</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pro-overview menu-item pro-overview-selected  clearfix">
                        <a class="super-menu-item" href="javascript:void(0)">
                            <span class="icon icon-font"></span>
                        </a>
                        <ul class="item-content hide">
                            <li class="nav-title single clearfix">
                                <a data="85" href="/web/26754769/overview/index?siteId={{siteId}}" class="menu-label">网站概况</a>
                            </li>
                        </ul>
                    </li>
                    <li class="baidu-pro menu-item clearfix">
                        <a class="super-menu-item" href="javascript:void(0)">
                            <span class="icon icon-font"></span>
                        </a>
                        <ul class="item-content hm-scroll hide">
                            <li class="nav-title">百度推广</li>
                            <li>
                                <a class="" href="/web/26754769/pro/outline">
                                    <span data="87" class="l menu-label">推广概况</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/pro/product?siteId={{siteId}}&amp;flag=product">
                                    <span data="88" class="l menu-label">推广方式</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/pro/product?siteId={{siteId}}&amp;flag=fcWord">
                                    <span data="89" class="l menu-label">搜索推广</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/pro/product?siteId={{siteId}}&amp;flag=feedUnit">
                                    <span data="137" class="l menu-label">信息流推广</span>
                                    <span class="new icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/pro/product?siteId={{siteId}}&amp;flag=byWord">
                                    <span data="90" class="l menu-label">百意推广</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/pro/conn?siteId={{siteId}}">
                                    <span data="92" class="l menu-label">推广url速度</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="flow-analysis menu-item clearfix">
                        <a class="super-menu-item" href="javascript:void(0)">
                            <span class="icon icon-font"></span>
                        </a>
                        <ul class="item-content hm-scroll hide">
                            <li class="nav-title">流量分析</li>
                            <li>
                                <a class="" href="/web/26754769/trend/latest?siteId={{siteId}}">
                                    <span data="95" class="l menu-label">实时访客</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <span class="trend">
                                    <a data="96" class="trend-title menu-label  " :href="'/web/26754769/overview/index?siteId=' + items">趋势分析</a>
                                    <a href="/web/26754769/trend/time?siteId=12774508&amp;flag=today" class="day">今</a>
                                    <a href="/web/26754769/trend/time?siteId=12774508&amp;flag=yesterday" class="day">昨</a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li class="source-analysis menu-item clearfix">
                        <a class="super-menu-item" href="javascript:void(0)">
                            <span class="icon icon-font"></span>
                        </a>
                        <ul class="item-content hm-scroll hide">
                            <li class="nav-title">来源分析</li>
                            <li>
                                <a class="" href="/web/26754769/source/all?siteId={{siteId}}">
                                    <span data="99" class="l menu-label">全部来源</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/source/engine?siteId={{siteId}}">
                                    <span data="100" class="l menu-label">搜索引擎</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/source/searchword?siteId={{siteId}}">
                                    <span data="101" class="l menu-label">搜索词</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/source/link?siteId={{siteId}}">
                                    <span data="102" class="l menu-label">外部链接</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/custom/media?siteId={{siteId}}">
                                    <span data="104" class="l menu-label">指定广告跟踪</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="visit-analysis menu-item clearfix">
                        <a class="super-menu-item" href="javascript:void(0)">
                            <span class="icon icon-font"></span>
                        </a>
                        <ul class="item-content hm-scroll hide">
                            <li class="nav-title">访问分析</li>
                            <li>
                                <a class="" href="/web/26754769/visit/toppage?siteId={{siteId}}">
                                    <span data="108" class="l menu-label">受访页面</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/visit/landingpage?siteId={{siteId}}">
                                    <span data="109" class="l menu-label">入口页面</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/visit/topdomain?siteId={{siteId}}">
                                    <span data="110" class="l menu-label">受访域名</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/custom/pageclick?siteId={{siteId}}">
                                    <span data="106" class="l menu-label">页面点击图</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/custom/flow?siteId={{siteId}}">
                                    <span data="107" class="l menu-label">页面上下游</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/custom/event_track?siteId={{siteId}}">
                                    <span data="111" class="l menu-label">事件分析</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/custom/subdir?siteId={{siteId}}">
                                    <span data="112" class="l menu-label">子目录</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="trans-analysis menu-item clearfix">
                        <a class="super-menu-item" href="javascript:void(0)">
                            <span class="icon icon-font"></span>
                        </a>
                        <ul class="item-content hm-scroll hide">
                            <li class="nav-title">转化分析</li>
                            <li>
                                <a class="" href="/web/26754769/trans/overview?siteId={{siteId}}">
                                    <span data="114" class="l menu-label">转化概况</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/custom/newpath?siteId={{siteId}}">
                                    <span data="115" class="l menu-label">转化路径</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="visitor-analysis menu-item clearfix">
                        <a class="super-menu-item" href="javascript:void(0)">
                            <span class="icon icon-font"></span>
                        </a>
                        <ul class="item-content hm-scroll hide">
                            <li class="nav-title">访客分析</li>
                            <li>
                                <a class="" href="/web/26754769/visit/district?siteId={{siteId}}">
                                    <span data="120" class="l menu-label">地域分布</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/visit/client?siteId={{siteId}}">
                                    <span data="121" class="l menu-label">系统环境</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/visit/type?siteId={{siteId}}">
                                    <span data="122" class="l menu-label">新老访客</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/visit/attribute?siteId={{siteId}}">
                                    <span data="123" class="l menu-label">访客属性</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/visit/character?siteId={{siteId}}">
                                    <span data="124" class="l menu-label">忠诚度</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/custom/visit?siteId={{siteId}}">
                                    <span data="125" class="l menu-label">自定义变量</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="optimize-analysis menu-item clearfix">
                        <a class="super-menu-item" href="javascript:void(0)">
                            <span class="icon icon-font"></span>
                        </a>
                        <ul class="item-content hm-scroll hide">
                            <li class="nav-title">优化分析</li>
                            <li>
                                <a class="" href="/web/26754769/opt/security?siteId={{siteId}}">
                                    <span data="134" class="l menu-label">网站安全</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a href="/web/26754769/" class="expandable ">网页抓取</a>
                                <ul>
                                    <li>
                                        <a class=" " href="/web/26754769/opt/indexes?siteId={{siteId}}">
                                            <span data="129" class="l menu-label">百度索引量</span>
                                            <span class="normal icon-font"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class=" " href="/web/26754769/opt/crawl?siteId={{siteId}}">
                                            <span data="133" class="l menu-label">抓取异常</span>
                                            <span class="normal icon-font"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class=" " href="/web/26754769/opt/robots?siteId={{siteId}}">
                                            <span data="136" class="l menu-label">Robots</span>
                                            <span class="normal icon-font"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/opt/searchwordrank?siteId={{siteId}}">
                                    <span data="128" class="l menu-label">搜索词排名</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/opt/speed?siteId={{siteId}}">
                                    <span data="130" class="l menu-label">网站速度诊断</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/web/26754769/opt/updown?siteId={{siteId}}">
                                    <span data="131" class="l menu-label">升降榜</span>
                                    <span class="normal icon-font"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="misc" id="misc">
            <ul class="clearfix">
                <li id="event-monitor-consultation" class="item">
                    <a class="consultation item-icon icon-font" href="https://zhiqiu.baidu.com/imcswebchat/roulette/in?id=15445&amp;token=mj6se1ti686mh87qe81ip80c1blof08b&amp;domainID=tongji&amp;type=2" target="_blank"><span class="icon"></span></a>
                    <a class="consultation-text item-text" href="https://zhiqiu.baidu.com/imcswebchat/roulette/in?id=15445&amp;token=mj6se1ti686mh87qe81ip80c1blof08b&amp;domainID=tongji&amp;type=2" target="_blank"><span class="text">在线客服</span></a>
                </li>
                <li id="event-monitor-message" class="item">
                    <a class="message item-icon icon-font" href="javascript:void(0)"><span class="icon"></span></a>
                    <a id="feedback" class="message-text item-text" href="javascript:void(0)"><span class="text">反馈建议</span></a>
                </li>
                <li id="event-monitor-introduction" class="item" toggle-data="introduction-qr-code">
                    <a class="introduction item-icon icon-font" href="javascript:void(0)">
                        <span class="icon"></span>
                    </a>
                    <a class="introduction-text item-text" href="javascript:void(0)">
                        <span class="text">关注微信</span>
                    </a>
                </li>
                <li class="item" id="back-to-top" style="">
                    <a class="top item-icon icon-font" href="#top"><span class="icon"></span></a>
                    <a class="top-text item-text" href="#top"><span class="text">返回顶部</span></a>
                </li>
            </ul>
        </div>
        <div class="misc-body">
            <a href="javascript:void(0)" class="misc-body-item introduction-qr-code hm-dropdown-shadow" style="display:none">
                <img src="/web/image/wechart-qr.png" alt="关注百度统计微信">
            </a>
        </div>

        <div class="main">
            <div id="report-wrapper" class="content clearfix">
                <div id="content-header-wrapper">
                    <div id="content-header" class="content-header">

                        <div class="title-bar clearfix">
                            <div id="tool-bar" class="tool-bar r">
                                <a href="javascript:void(0);" id="pin-btn" class="pin-btn close recordable r" memo="{id:'Scroll',type:'scroll',global:1}"><span class="icon icon-font"></span></a>
                                <a href="javascript:void(0);" id="download-report" class="download-report trackable r" memo="{id:'doload'}">下载</a>
                                <a href="javascript:void(0);" id="common-report" class="common-report r "><span class="icon icon-font"></span>常用报告</a>
                            </div>
                            <div class="setting-bar r">
                            </div>
                            <h5 class="l">
                                网站概况
                            </h5>
                            <a title="点击可查看报告详细帮助" id="report-tip-icon" class="report-help close l" href="javascript:void(0);">&nbsp;</a>
                        </div>


                        <div class="report-tip" id="report-tip" style="display: none;">
                            <div class="tip-arrow"></div>
                            <div class="report-tip-content">
                                <table class="report-tip-table">
                                    <tbody>
                                        <tr>
                                            <td width="70%" valign="top">
                                                <div class="left-content"><div>本报告助您分析：</div><p>提供目标网站运营状况的整体情况，包括各个时间维度相关指标的趋势、访客来源、关注热点、访客属性等宏观数据。助您了解网站的概况性数据。</p></div>
                                            </td>
                                            <td width="30%" valign="middle" class="report-tip-search-container">
                                                <div class="right-content">
                                                    <div class="questions">
                                                        <div>常见问题：<a href="https://tongji.baidu.com/web/help/article?id=90&amp;type=0" target="_blank">什么是百度统计？</a></div>
                                                    </div>
                                                    <div class="report-tip-search">
                                                        <div class="report-tip-search-input">
                                                            <span class="report-tip-search-btn">&nbsp;</span>
                                                            <input type="text" name="keyword" placeholder="更多问题请在这里查询..." id="ReportHelp">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="main-content">
                    <!-- 推广URL安装率提示 -->

                    <div class="table-list" id="IndexPreview">
                        <div class="overview-card-title-container">
                            <label class="overview-card-title">今日流量</label>
                        </div>
                        <table cellpadding="0" cellspacing="0" class="list" id="IndexPreviewTableList">
                            <tbody>
                                <tr class="title">
                                    <th></th>
                                    <th>浏览量(PV)</th>
                                    <th>访客数(UV)</th>
                                    <th>IP数</th>
                                    <th>跳出率</th>
                                    <th>平均访问时长</th>
                                    <th>转化次数</th>
                                    <th class="empty-tr0"></th>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                    <div class="fold ">
                        <a href="javascript:void(0)" id="TogglePreviewTableBtn" targets=".fade" class="toggleable recordable trackable close"></a>
                    </div>
                    <div class="overview-gap"></div>

                    <div class="overview-detail">

                        <div id="DateSelectBar">
                            <div class="control-bar-wrapper clearfix" id="control-bar-wrapper">
                                <div class="control-bar bg-iframe l" id="control-bar">
                                    <span class="l label">时间：</span>
                                    <div class="l date-select-bar" id="date-select-bar">
                                        <a href="#00" class="trackable date-bar-single-day cur" onclick="Report(0)" memo="{id:'time_tody'}">今天</a>
                                        <!--<span class="seprator"></span>-->
                                        <a href="#-1" class="trackable date-bar-single-day" onclick="Report(-1)" memo="{id:'time_yest'}">昨天</a>
                                        <!--<span class="seprator"></span>-->
                                        <a href="#-6" class="trackable" onclick="Report(-6)" memo="{id:'time_week'}">最近7天</a>
                                        <!--<span class="seprator"></span>-->
                                        <a href="#-29" class="trackable" onclick="Report(-29)" memo="{id:'time_month'}">最近30天</a>
                                    </div>
                                    <div class="l time-select-bar" id="custom-date-select">
                                        <div class="select-bar-item l">
                                            <input onfocus="javascript:this.blur();" readonly="readonly" class="text trackable" memo="{id:'time_selt'}" id="date-select" value="自定义时间段">
                                            <a class="dropdown"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="overview-gap"></div>

                        <div>  </div>
                        <div class="index-site" id="IndexSite">
                            <div class="first-row">
                                <div class="clearfix table-grid">
                                    <div class="left">
                                        <div class="table-grid-item">
                                            <div class="title clearfix">
                                                <div class="l">趋势图</div>
                                                <div class="r"><a id="event-monitor-trend" class="detail-report-btn" :href="'/web/26754769/overview/index?siteId=' + items">&nbsp;</a></div>
                                            </div>
                                            <div class="line-indicators-row clearfix">
                                                <div class="layui-tab" style="margin: 0;">
                                                    <ul class="layui-tab-title">
                                                        <li class="layui-this" onclick="tendency(this)" type="pv">浏览量</li>
                                                        <li onclick="tendency(this)" type="uv">访客数</li>
                                                        <li onclick="tendency(this)" type="ip">IP数</li>
                                                        <li onclick="tendency(this)" type="rate">跳出率</li>
                                                        <li onclick="tendency(this)" type="ave">平均访问时长</li>
                                                        @*
                                                            <li>转化次数</li>
                                                            <li>前一日</li>
                                                            <li>上周同期</li>*@
                                                    </ul>
                                                    <div class="layui-tab-content" style="padding: 0;">
                                                        <div id="line" class="layui-tab-item layui-show" style="width: 800px;height: 300px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right" id="search-word-container">
                                        <div class="table-grid-item">
                                            <div class="title clearfix">
                                                <div class="l">Top10关键词</div>
                                                <div class="r">
                                                    <a class="detail-report-btn" href="/web/26754769/pro/product?siteId={{siteId}}&amp;flag=fcWord"
                                                       id="event-monitor-word"></a>
                                                </div>
                                            </div>
                                            <div class="table-data clearfix">
                                                <table cellpadding="0" cellspacing="0" class="table-layout-01">
                                                    <thead>
                                                        <tr>
                                                            <td class="al url">关键词</td>
                                                            <td class="ar" width="20%">次数</td>
                                                            <td class="ratio" width="20%">占比</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="IndexSiteContent">
                                <div class="table-grid clearfix">
                                    <div class="left">
                                        <div class="table-grid-item">
                                            <div class="title clearfix">
                                                <div class="l">Top10来源网站</div>
                                                <div class="r"><a class="detail-report-btn" :href="'/web/26754769/overview/index?siteId=' + items">&nbsp;</a></div>
                                            </div>
                                            <div class="table-data clearfix">
                                                <table cellpadding="0" cellspacing="0" class="table-layout-01">
                                                    <thead>
                                                        <tr>
                                                            <td class="al url">来源网站</td>
                                                            <td class="ar" width="20%">浏览量(PV)</td>
                                                            <td class="ratio" width="20%">占比</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="source-site-container"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <div class="table-grid-item">
                                            <div class="title clearfix">
                                                <div class="l">Top10入口页面</div>
                                                <div class="r">
                                                    <a class="detail-report-btn" :href="'/web/26754769/overview/index?siteId=' + items">&nbsp;</a>
                                                </div>
                                            </div>
                                            <div class="table-data clearfix">
                                                <table cellpadding="0" cellspacing="0" class="table-layout-01">
                                                    <thead>
                                                        <tr>
                                                            <td class="al url">入口页面</td>
                                                            <td class="ar" width="20%">浏览量(PV)</td>
                                                            <td class="ratio" width="20%">占比</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="landing-page-container">
                                                        @*<tr><td title="https://www.sh808web.com" class="al url"><a target="_blank" class="ellipsis" href="https://www.sh808web.com">https://www.sh808web.com</a></td><td class="ar">29</td><td class="ratio"><div title="96.67%" style="background-color:#dcebfe; width:96.67%;">96.67%</div></td></tr>
                                                        <tr><td title="http://fanyi.baidu.com/referrer" class="al url"><a target="_blank" class="ellipsis" href="http://fanyi.baidu.com/referrer">http://fanyi.baidu.com/referrer</a></td><td class="ar">1</td><td class="ratio"><div title="3.33%" style="background-color:#dcebfe; width:3.33%;">3.33%</div></td></tr>*@
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-grid clearfix">
                                    <div class="left">
                                        <div class="table-grid-item">
                                            <div class="title clearfix">
                                                <div class="l">Top10受访页面</div>
                                                <div class="r">
                                                    <a class="detail-report-btn" :href="'/web/26754769/overview/index?siteId=' + items">&nbsp;</a>
                                                </div>
                                            </div>
                                            <div class="table-data clearfix">
                                                <table cellpadding="0" cellspacing="0" class="table-layout-01">
                                                    <thead>
                                                        <tr>
                                                            <td class="al url">受访页面</td>
                                                            <td class="ar" width="20%">浏览量(PV)</td>
                                                            <td class="ratio" width="20%">占比</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="visit-page-container">
                                                        @*<tr><td title="https://www.sh808web.com" class="al url"><a target="_blank" class="ellipsis" href="https://www.sh808web.com">https://www.sh808web.com</a></td><td class="ar">62</td><td class="ratio"><div title="93.94%" style="background-color:#dcebfe; width:93.94%;">93.94%</div></td></tr>
                                                        <tr><td title="https://www.sh808web.com/news/view/3806.html" class="al url"><a target="_blank" class="ellipsis" href="https://www.sh808web.com/news/view/3806.html">https://www.sh808web.com/news/view/3806.html</a></td><td class="ar">2</td><td class="ratio"><div title="3.03%" style="background-color:#dcebfe; width:3.03%;">3.03%</div></td></tr>
                                                        <tr><td title="http://fanyi.baidu.com/referrer" class="al url"><a target="_blank" class="ellipsis" href="http://fanyi.baidu.com/referrer">http://fanyi.baidu.com/referrer</a></td><td class="ar">1</td><td class="ratio"><div title="1.52%" style="background-color:#dcebfe; width:1.52%;">1.52%</div></td></tr>
                                                        <tr><td title="https://www.sh808web.com/case.html" class="al url"><a target="_blank" class="ellipsis" href="https://www.sh808web.com/case.html">https://www.sh808web.com/case.html</a></td><td class="ar">1</td><td class="ratio"><div title="1.52%" style="background-color:#dcebfe; width:1.52%;">1.52%</div></td></tr>*@
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <div class="table-grid-item">
                                            <div class="title clearfix">
                                                <div class="l">新老访客</div>
                                                <div class="r">
                                                    <a class="detail-report-btn" :href="'/web/26754769/overview/index?siteId=' + items">&nbsp;</a>
                                                </div>
                                            </div>
                                            <div class="table-data clearfix" id="visitor-type-container">    
                                            @*<div class="visit-type-summary clearfix">
                                                <table><tbody><tr><td class="visit-type-icon"><div></div></td><td class="visit-type-new"><div><div class="visit-type-summary-title">新访客</div><div class="visit-type-summary-data">95<span class="ratil-unit">%</span></div></div></td><td class="visit-type-old"><div><div class="visit-type-summary-title">老访客</div><div class="visit-type-summary-data">5<span class="ratil-unit">%</span></div></div></td></tr></tbody></table></div><div class="visit-type-detail"><table><tbody><tr><td class="visit-type-detail-name">浏览量</td><td class="visit-type-detail-new">26</td><td class="visit-type-detail-old">1</td></tr><tr><td class="visit-type-detail-name">访客数</td><td class="visit-type-detail-new">19</td><td class="visit-type-detail-old">1</td></tr><tr><td class="visit-type-detail-name">跳出率</td><td class="visit-type-detail-new">66.67%</td><td class="visit-type-detail-old">--</td></tr><tr><td class="visit-type-detail-name">平均访问时长</td><td class="visit-type-detail-new">00:01:52</td><td class="visit-type-detail-old">--</td></tr><tr><td class="visit-type-detail-name">平均访问页数</td><td class="visit-type-detail-new">1.37</td><td class="visit-type-detail-old">1</td></tr></tbody></table>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="VisitorAttr" class="visitor-attr  clearfix">
                            <div class="clearfix table-grid">
                                <div class="left">
                                    <div class="table-grid-item">
                                        <div class="title clearfix">
                                            <div class="l">网络设备</div>
                                            <div class="r"><a id="event-monitor-age" class="detail-report-btn" :href="'/web/26754769/overview/index?siteId=' + items">&nbsp;</a></div>
                                        </div>

                                        <div id="network-device-bar" style="width: 800px;height: 339px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="right" id="china-map-container">
                                    <div class="table-grid-item">
                                        <div class="title clearfix">
                                            <div class="l">地域分布</div>
                                            <div class="r"><a id="event-monitor-area" class="detail-report-btn" :href="'/web/26754769/overview/index?siteId=' + items">&nbsp;</a></div>
                                        </div>
                                        <div id="china-map" style="height: 320px; width: 800px;margin: 0 auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <span>©2019 GC</span>
                <a href="http://www.baidu.com/gucheng.html" target="_blank">谷程首页</a>
                <a href="http://www2.baidu.com/gucheng.html" target="_blank">谷程推广</a>
                <a href="http://union.baidu.com/gucheng.html" target="_blank">谷程联盟</a>
                <a href="http://adm.baidu.com/gucheng.html" target="_blank">谷程广告管家</a>
                <a href="http://zhishu.baidu.com/gucheng.html" target="_blank">谷程指数</a>
                <a href="http://su.baidu.com/gucheng.html?from=tongji" target="_blank">谷程云加速</a>
                <a href="http://di.baidu.com/gucheng.html" target="_blank">谷程数智平台</a>
                <a href="http://www.baidu.com/duty/gucheng.html" target="_blank">使用谷程前必读</a>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Vue.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script type="text/javascript">
        //动态拼接siteId渲染
        var datatable = new Vue({ el: '.body', data: { items: '', }, });
    </script>
    <script type="text/javascript">
        function timeConverte(time_distance) {
            // 天时分秒换算
            var int_day = Math.floor(time_distance / 86400)
            time_distance = time_distance - int_day * 86400;

            var int_hour = Math.floor(time_distance / 3600)
            time_distance = time_distance - int_hour * 3600;

            var int_minute = Math.floor(time_distance / 60)
            time_distance = time_distance - int_minute * 60;

            var int_second = Math.floor(time_distance)
            // 时分秒为单数时、前面加零
            if (int_day < 10) {
                int_day = "0" + int_day;
            }
            if (int_hour < 10) {
                int_hour = "0" + int_hour;
            }
            if (int_minute < 10) {
                int_minute = "0" + int_minute;
            }
            if (int_second < 10) {
                int_second = "0" + int_second;
            }
            return int_hour + ':' + int_minute + ':' + int_second;
        }
    </script>
    <script type="text/javascript">
        
        var day = "0";
        var provic = [];
        var toCash = [];
        var chartData = "", type = "pv";
        var reportType = "pv", style = "value", formatter = "";
        var dataChart = [];
        var lastResult = [];
        $(function () {
            var content = "";
            var error = "";
            var loading = "";

            $.ajax({
                async: true,
                url: "/Home/GetReportData/",
                type: 'GET',
                dataType: "json",
                beforeSend: function () {
                    $("#IndexPreviewTableList>tbody").append("<tr class='preview-loading'><td class='empty-td' colspan='8' align='middle' style='text-align: center;height: 200px;'><img src='/img/loading.gif' style='vertical-align: middle;margin-right: 5px;' />数据正在加载中...</td></tr>");
                },
                complete: function () {
                    $(".preview-loading").remove();
                },
                success: function (data) {
                    $(".preview-loading").remove();
                    if (data != null) {
                        //今日
                        content += "<tr class='highlight'><td class='normal'>今日</td><td class=''>" + data.today.WebPv + "</td><td class=''>" + data.today.WebUv + "</td>" + ""
                            + "<td class=''>" + data.today.IpCount + "</td><td class=''>" + data.today.BounceRate + "</td><td class=''>" + data.today.WebTS + "</td>" + ""
                            + "<td class=''>--</td><td class='empty-tr0'></td></tr>";
                        //昨日
                        content += "<tr><td class='normal'>昨日</td><td class=''>" + data.yesterday.WebPv + "</td><td class=''>" + data.yesterday.WebUv + "</td>" + ""
                            + "<td class=''>" + data.yesterday.IpCount + "</td><td class=''>" + data.yesterday.BounceRate + "</td><td class=''>" + data.yesterday.WebTS + "</td>" + ""
                            + "<td class=''>--</td><td class='empty-tr0'></td></tr>";
                        //预计今日
                        content += "<tr><td class='normal'>预计今日</td><td class=''>" + data.predict.WebPv + "</td><td class=''>" + data.predict.WebUv + "</td><td class=''" + ""
                            + ">" + data.predict.IpCount + "</td><td class=''>--</td><td class=''>--</td><td class=''>--</td><td class='empty-tr0'></td></tr>";
                        //划分线
                        content += "<tr class='empty-tr1'></tr>";
                        content += "<tr class='fade toggleable-hidden empty-tr2'><td colspan='9'></td></tr>";
                        //昨日此时
                        content += "<tr id='tog' class='fade toggleable-hidden'><td class='normal'>昨日此时</td><td class=''>" + data.atThisTime.WebPv + "</td><td class=''>" + data.atThisTime.WebUv + "</td>" + ""
                            + "<td class=''>" + data.atThisTime.IpCount + "</td><td class=''>" + data.atThisTime.BounceRate + "</td><td class=''>" + data.atThisTime.WebTS + "</td><td class=''>--</td>" + ""
                            + "<td class='empty-tr0'></td></tr>";
                        //每日平均
                        content += "<tr class='fade toggleable-hidden'><td class='normal'>每日平均</td><td class=''>" + data.average.WebPv + "</td><td class=''>" + data.average.WebUv + "</td>" + ""
                            + "<td class=''>" + data.average.IpCount + "</td><td class=''>" + data.average.BounceRate + "</td><td class=''>" + data.average.WebTS + "</td><td class=''>--</td>" + ""
                            + "<td class='empty-tr0'></td></tr>";
                        //总共
                        content += "<tr class='fade toggleable-hidden'><td class='normal'>总共</td><td class=''>" + data.total.WebPv + "</td><td class=''>" + data.total.WebUv + "</td>" + ""
                            + "<td class=''>" + data.total.IpCount + "</td><td class=''>" + data.total.BounceRate + "</td><td class=''>" + timeConverte(data.total.WebTS) + "</td><td class=''>--</td>" + ""
                            + "<td class='empty-tr0'></td></tr>";
                        //历史峰值
                        content += "<tr class='fade toggleable-hidden'><td class='normal'>历史峰值</td><td class='highlight-tip' d='" + data.historical.WebDomain + "' title='峰值日：" + data.historical.WebDomain + "'" + ""
                            + ">" + data.historical.WebPv + "</td><td class='highlight-tip' d='" + data.historical.WebDomain + "' title='峰值日：" + data.historical.WebDomain + "'>" + data.historical.WebUv + "</td>" + ""
                            + "<td class='highlight-tip' d='" + data.historical.WebDomain + "' title='峰值日：" + data.historical.WebDomain + "'>" + data.historical.IpCount + "</td><td class='highlight-tip'" + ""
                            + " d='" + data.historical.WebDomain + "' title='峰值日：" + data.historical.WebDomain + "'>" + data.historical.BounceRate + "</td><td class='highlight-tip' d='" + data.historical.WebDomain + "'" + ""
                            + " title='峰值日：" + data.historical.WebDomain + "'>" + data.historical.WebTS + "</td><td class=''>--</td><td class='empty-tr0'></td></tr>";
                        //划分线
                        content += "<tr class='fade toggleable-hidden empty-tr3'><td colspan='9'></td></tr>";
                    }
                    else {
                        content += "<tr><td class='empty-td' colspan='8' align='middle' style='text-align: center;height: 200px;'>暂无数据</td></tr>";
                    }
                    $('#IndexPreviewTableList>tbody').append(content);
                    datatable.items = data.siteId;
                    $('.account').html("Hi&nbsp;" + data.users);
                    console.log(data.users);
                    console.log(user);
                },
                error: function (e) {
                    console.log(e);
                    error = "<tr><td class='empty-td' colspan='8' align='middle' style='text-align: center;height: 200px;'>暂无数据</td></tr>";
                    $('#IndexPreviewTableList>tbody').append(error);
                }
            })
            Report(day);
            tendency(reportType);
        })
        //最近事件
        function Report(date) {
            //$.ajax({
            //    async: true,
            //    url: '/Home/NewOldVisit',
            //    data: { data },
            //    type: 'post',
            //    dataType: 'json',
            //    success: function (data) {
                    
            //    }
            //});
            var content = "";
            day = date;
            $.ajax({
                async: true,
                url: "/Home/PostReportData",
                data: { date },
                type: "Post",
                dataType: "json",
                beforeSend: function () {
                    $("#source-site-container").append("<tr class='source-loading'><td class='empty-td' colspan='8' align='middle' style='text-align: center;height: 200px;'><img src='/img/loading.gif' style='vertical-align: middle;margin-right: 5px;' />数据正在加载中...</td></tr>");
                    $("#search-word-container tbody").append("<tr class='search-loading'><td class='empty-td' colspan='8' align='middle' style='text-align: center;height: 200px;'><img src='/img/loading.gif' style='vertical-align: middle;margin-right: 5px;' />数据正在加载中...</td></tr>");
                    $("#network-device-bar").append("<div class='network-loading' style='margin-left: 40%;margin-top: 140px;'><td class='empty-td' colspan='8' align='middle' style='text-align: center;height: 200px;'><img src='/img/loading.gif' style='vertical-align: middle;margin-right: 5px;' />数据正在加载中...</div></div>");
                    $("#china-map").append("<div class='map-loading' style='margin-left: 40%;margin-top: 140px;'><td class='empty-td' colspan='8' align='middle' style='text-align: center;height: 200px;'><img src='/img/loading.gif' style='vertical-align: middle;margin-right: 5px;' />数据正在加载中...</div></div>");
                    //来源网站
                    $("#visit-page-container").append("<tr class='visit-loading'><td class='empty-td' colspan='8' align='middle' style='text-align: center;height: 200px;'><img src='/img/loading.gif' style='vertical-align: middle;margin-right: 5px;' />数据正在加载中...</td></tr>");
                    //入口页面
                    $("#landing-page-container").append("<tr class='landing-loading'><td class='empty-td' colspan='8' align='middle' style='text-align: center;height: 200px;'><img src='/img/loading.gif' style='vertical-align: middle;margin-right: 5px;' />数据正在加载中...</td></tr>");
                    //新老访客
                    $("#visitor-type-container").html("").append("<tr class='type-loading'><td class='empty-td' colspan='8' align='middle' style='text-align: center;height: 200px;'><img src='/img/loading.gif' style='vertical-align: middle;margin-right: 5px;' />数据正在加载中...</td></tr>");
                },
                complete: function () {
                    $("#source-site-container .source-loading").remove();
                    $("#search-word-container tbody .search-loading").remove();
                    $("#network-device-bar .network-loading").remove();
                    $("#china-map .map-loading").remove();
                    $(".visit-loading").remove();
                    $(".landing-loading").remove();
                    $(".type-loading").remove();
                },
                success: function (data) {
                    $("#source-site-container").html("");
                    $("#search-word-container tbody").html("");
                    $("#visit-page-container").html("");
                    $("#landing-page-container").html("");
                    for (var i = 0; i < data.sourceSite.length; i++) {
                        content += "<tr><td class='al url'><span class='ellipsis' title='" + data.sourceSite[i].Id + "'>" + data.sourceSite[i].VisitSE + "</span></td>" + ""
                            + "<td class='ar'>" + data.sourceSite[i].Id + "</td><td class='ratio'><div style='background-color:#dcebfe; width:" + data.sourceSite[i].SearchTerms + "" + ""
                            + ";'title='" + data.sourceSite[i].SearchTerms + "'>" + data.sourceSite[i].SearchTerms + "</div></td></tr>";
                    }
                    if (data.sourceSite.length == 0) {
                        $("#source-site-container").html("");
                        $("#source-site-container").append("<tr><td class='empty-td' colspan='3' align='middle' style='text-align: center;'>暂无数据</td></tr>");
                    }
                    else {
                        $("#source-site-container").html("");
                        $("#source-site-container").append(content);
                    }
                    content = "";
                    for (var j = 0; j < data.keyword.length; j++) {
                        content += "<tr><td class='al url'><span class='ellipsis' title='" + data.keyword[j].SearchTerms + "'>" + data.keyword[j].SearchTerms + "</span></td>" + ""
                            + "<td class='ar'>" + data.keyword[j].Id + "</td><td class='ratio'><div style='background-color:#dcebfe; width:" + data.keyword[j].VisitPage + "" + ""
                            + ";'title='" + data.keyword[j].VisitPage + "'>" + data.keyword[j].VisitPage + "</div></td></tr>";
                    }
                    if (data.keyword.length == 0) {
                        $("#search-word-container tbody").html("");
                        $("#search-word-container tbody").append("<tr><td class='empty-td' colspan='3' align='middle' style='text-align: center;'>暂无数据</td></tr>");
                    }
                    else {
                        $("#search-word-container tbody").append(content);
                    }
                    content = "";
                   
                    for (var i = 0; i < data.TopPageView.length; i++) {
                        content += "<tr><td title=\"" + data.TopPageView[i].VisitPage + "\" class=\"al url\"><a target=\"_blank\" class=\"ellipsis\" href=\"" + data.TopPageView[i].VisitPage + "\">" + data.TopPageView[i].VisitPage + "</a></td><td class=\"ar\">" + data.TopPageView[i].Id + "</td><td class=\"ratio\"><div title=\"" + data.TopPageView[i].VisitSE + "\" style=\"background-color:#dcebfe; width:" + data.TopPageView[i].VisitSE + ";\">" + data.TopPageView[i].VisitSE + "</div></td></tr>";
                    }
                    if (data.TopPageView.length == 0) {
                        $("#visit-page-container").append("<tr><td class='empty-td' colspan='3' align='middle' style='text-align: center;'>暂无数据</td></tr>");
                    }
                    else {
                        $("#visit-page-container").append(content);
                    }
                    content = "";
                    for (var i = 0; i < data.EntryPage.length; i++) {
                        content += "<tr><td title=\"" + data.EntryPage[i].VisitPage + "\" class=\"al url\"><a target=\"_blank\" class=\"ellipsis\" href=\"" + data.EntryPage[i].VisitPage + "\">" + data.EntryPage[i].VisitPage + "</a></td><td class=\"ar\">" + data.EntryPage[i].Id + "</td><td class=\"ratio\"><div title=\"" + data.EntryPage[i].VisitSE + "\" style=\"background-color:#dcebfe; width:" + data.EntryPage[i].VisitSE + ";\">" + data.EntryPage[i].VisitSE + "</div></td></tr>";
                    }
                    if (data.EntryPage.length == 0) {
                        $("#landing-page-container").append("<tr><td class='empty-td' colspan='3' align='middle' style='text-align: center;'>暂无数据</td></tr>");
                    }
                    else {
                        $("#landing-page-container").append(content);
                    }
                    content = "";
                    content = "<div class=\"visit-type-summary clearfix\"><table><tbody><tr><td class=\"visit-type-icon\"><div></div></td><td class=\"visit-type-new\"><div><div class=\"visit-type-summary-title\">新访客</div><div class=\"visit-type-summary-data\">" + data.Visiter[1].WebKey + "<span class=\"ratil-unit\">%</span></div></div></td><td class=\"visit-type-old\"><div><div class=\"visit-type-summary-title\">老访客</div><div class=\"visit-type-summary-data\">" + data.Visiter[0].WebKey + "<span class=\"ratil-unit\">%</span></div></div></td></tr></tbody></table ></div > <div class=\"visit-type-detail\"><table><tbody><tr><td class=\"visit-type-detail-name\">浏览量</td><td class=\"visit-type-detail-new\">" + data.Visiter[1].WebPv + "</td><td class=\"visit-type-detail-old\">" + data.Visiter[0].WebPv + "</td></tr><tr><td class=\"visit-type-detail-name\">访客数</td><td class=\"visit-type-detail-new\">" + data.Visiter[1].WebUv + "</td><td class=\"visit-type-detail-old\">" + data.Visiter[0].WebUv + "</td></tr><tr><td class=\"visit-type-detail-name\">跳出率</td><td class=\"visit-type-detail-new\">" + data.Visiter[1].BounceRate + "</td><td class=\"visit-type-detail-old\">" + data.Visiter[0].BounceRate + "</td></tr><tr><td class=\"visit-type-detail-name\">平均访问时长</td><td class=\"visit-type-detail-new\">" + data.Visiter[1].WebTS + "</td><td class=\"visit-type-detail-old\">" + data.Visiter[0].WebTS + "</td></tr><tr><td class=\"visit-type-detail-name\">平均访问页数</td><td class=\"visit-type-detail-new\">" + data.Visiter[1].WebDomain + "</td><td class=\"visit-type-detail-old\">" + data.Visiter[0].WebDomain + "</td></tr></tbody></table></div>";
                    if (data.Visiter.length == 0) {
                        $("visitor-type-container").html("").append("<tr><td class='empty-td' colspan='3' align='middle' style='text-align: center;'>暂无数据</td></tr>");
                    } else {
                        $("#visitor-type-container").html("").append(content);
                    }
                },
                error: function () {
                    error = "<tr><td class='empty-td' colspan='3' align='middle' style='text-align: center;'>暂无数据</td></tr>";
                    $('#source-site-container').append(error);
                    $("#search-word-container tbody").append(error);
                    $("#network-device-bar").append(error);
                    $("#china-map").append(error);
                    $("#visit-page-container").append(error);
                    $("#landing-page-container").append(error);
                    $("#visitor-type-container").html("").append(error);
                }
            });
            //趋势图
            $.ajax({
                async: true,
                url: "/Home/PostChart",
                data: { date },
                type: "Post",
                dataType: "json",
                beforeSend: function () {
                    $("#line").append("<div class='line-loading' style='margin-top: -180px;z-index: 10000;'><div class='empty-td' colspan='8' align='middle' style='text-align: center;height: 200px;'><img src='/img/loading.gif' style='vertical-align: middle;margin-right: 5px;' />数据正在加载中...</div></div>");
                },
                complete: function () {
                    $(".line-loading").remove();
                },
                success: function (data) {
                    $(".layui-tab-content").css({ "display": "block" });
                    chartData = data.chart;
                    var dataChart = [];
                    for (var j = 0; j < data.chart.length; j++) {
                        dataChart.push(data.chart[j].WebPv);
                    }
                    if (day == "0" || day == "-1") {
                        lastResult = [];
                        for (var i = 0; i < chartData.length; i++) {
                            lastResult.push(chartData[i].WebDomain);
                        }
                    }
                    else {
                        lastResult = [];
                        for (var i = 0; i < chartData.length; i++) {
                            lastResult.push(chartData[i].WebDomain);
                        }
                    }
                    if (type == "pv") {
                        dataChart = [];
                        style = "value";
                        formatter = "";
                        for (var i = 0; i < chartData.length; i++) {
                            dataChart.push(chartData[i].WebPv)
                        }
                    }
                    else if (type == "uv") {
                        dataChart = [];
                        style = "value";
                        formatter = "";
                        for (var i = 0; i < chartData.length; i++) {
                            dataChart.push(chartData[i].WebUv)
                        }
                    }
                    else if (type == "ip") {
                        dataChart = [];
                        style = "value";
                        formatter = "";
                        for (var i = 0; i < chartData.length; i++) {
                            dataChart.push(chartData[i].IpCount)
                        }
                    }
                    else if (type == "rate") {
                        dataChart = [];
                        style = "value";
                        formatter = "%";
                        for (var i = 0; i < chartData.length; i++) {
                            dataChart.push(chartData[i].BounceRate)
                        }
                    }
                    else if (type == "ave") {
                        dataChart = [];
                        style = "value";
                        formatter = "s";
                        for (var i = 0; i < chartData.length; i++) {
                            dataChart.push(chartData[i].WebTS)
                        }
                    }
                    var myChart = echarts.init(document.getElementById('line'));
                    option = {
                        tooltip: {
                            name: '' + type,
                            trigger: 'item',
                            formatter: '{b}:\n{c}' + formatter
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        toolbox: {
                            feature: {
                                saveAsImage: {}
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: lastResult
                        },
                        yAxis: {
                            type: '' + style,
                            axisLabel: { show: true, interval: 'auto', formatter: '{value}' + formatter }, show: true
                        },
                        series: [
                            {
                                name: '' + type,
                                type: 'line',
                                itemStyle: {
                                    normal: {
                                        label: {
                                            show: false,
                                            position: 'top',
                                            formatter: '{b}:\n{c}' + formatter
                                        }
                                    }
                                },
                                data: dataChart
                            }
                        ]
                    };
                    myChart.setOption(option);
                },
                error: function () {
                    $(".layui-tab-content").css({ "display": "none" });
                    $(".layui-tab-content").append("<div><div class='empty-td' colspan='3' align='middle' style='text-align: center;'>暂无数据</div></div>");
                }
            });
        }
    </script>
    <script type="text/javascript">
        function tendency(data) {
            type = data.type;
            if (day == "0" || day == "-1") {
                lastResult = [];
                for (var i = 0; i < chartData.length; i++) {
                    lastResult.push(chartData[i].WebDomain);
                }
            }
            else {
                lastResult = [];
                for (var i = 0; i < chartData.length; i++) {
                    lastResult.push(chartData[i].WebDomain);
                }
            }
            if (type == "pv") {
                dataChart = [];
                style = "value";
                formatter = "";
                for (var i = 0; i < chartData.length; i++) {
                    dataChart.push(chartData[i].WebPv)
                }
            }
            else if (type == "uv") {
                dataChart = [];
                style = "value";
                formatter = "";
                for (var i = 0; i < chartData.length; i++) {
                    dataChart.push(chartData[i].WebUv)
                }
            }
            else if (type == "ip") {
                dataChart = [];
                style = "value";
                formatter = "";
                for (var i = 0; i < chartData.length; i++) {
                    dataChart.push(chartData[i].IpCount)
                }
            }
            else if (type == "rate") {
                dataChart = [];
                style = "value";
                formatter = "%";
                for (var i = 0; i < chartData.length; i++) {
                    dataChart.push(chartData[i].BounceRate)
                }
            }
            else if (type == "ave") {
                dataChart = [];
                style = "value";
                formatter = "s";
                for (var i = 0; i < chartData.length; i++) {
                    dataChart.push(chartData[i].WebTS)
                }
            }
            var myChart = echarts.init(document.getElementById('line'));
            option = {
                tooltip: {
                    name: '' + type,
                    trigger: 'item',
                    formatter: '{b}:\n{c}' + formatter
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: lastResult
                },
                yAxis: {
                    type: '' + style,
                    axisLabel: { show: true, interval: 'auto', formatter: '{value}' + formatter }, show: true

                },
                series: [
                    {
                        name: '' + type,
                        type: 'line',
                        itemStyle: {
                            normal: {
                                label: {
                                    show: false,
                                    position: 'top',
                                    formatter: '{b}:\n{c}' + formatter
                                }
                            }
                        },
                        data: dataChart
                    }
                ]
            };
            myChart.setOption(option);
        }
    </script>
    <script type="text/javascript">
        function mapChart(provic, proportion) {
            var myChart = echarts.init(document.getElementById('china-map'));
            option = {
                tooltip: {
                    trigger: 'item',
                    formatter: function (params) {
                        var res = "";
                        if (params.value) {
                            res = params.name + '：' + params.value;
                        } else {
                            res = params.name + '：' + '-';
                        }
                        var datas = proportion;
                        for (var i = 0; i < datas.length; i++) {
                            if (params.name == datas[i].name) {
                                res = res + '<br/>占比：' + datas[i].value;
                                break;
                            }
                            else {
                                res = res + '<br/>占比：' + '-';
                            }
                        }
                        return res;
                    }
                },
                visualMap: {
                    min: 0,
                    max: 250000,
                    left: 'left',
                    top: 'bottom',
                    text: ['高', '低'],           // 文本，默认为数值文本
                    calculable: true
                },
                toolbox: {
                    show: true,
                    orient: 'vertical',
                    left: 'right',
                    top: 'center',
                    feature: {
                        dataView: { readOnly: false },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [
                    {
                        name: '地域分布',
                        type: 'map',
                        mapType: 'china',
                        roam: false,
                        label: {
                            normal: {
                                show: false
                            },
                            emphasis: {
                                show: false
                            }
                        },
                        data: provic
                    },
                    {
                        name: '占比',
                        type: 'map',
                        mapType: 'china',
                        roam: false,
                        label: {
                            normal: {
                                show: false
                            },
                            emphasis: {
                                show: false
                            }
                        },
                        data: proportion
                    }
                ]
            };
            myChart.setOption(option);
        }
        function networkDeviceBar(provic, proportion) {
            var myChart = echarts.init(document.getElementById('network-device-bar'));
            option = {
                color: ['#C23531'],
                tooltip: {
                    trigger: 'item',
                    axisPointer: {
                        type: 'shadow'
                    },
                    formatter: function (params) {
                        var res = "";
                        if (params.value != 0) {
                            res = params.name + '：' + params.value;
                        } else {
                            res = params.name + '：' + '-';
                        }
                        var datas = proportion;
                        for (var i = 0; i < datas.length; i++) {
                            if (params.name == datas[i].value) {
                                res = res + '<br/>占比：' + datas[i].name;
                                break;
                            }
                        }
                        return res;
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: proportion,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        axisLabel: {
                            //设置y轴数值为%
                            formatter: '{value}',
                        }
                    }
                ],
                series: [
                    {
                        name: '',
                        type: 'bar',
                        barWidth: '30%',
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        itemStyle: {
                            normal: {
                                // 随机显示
                                //color:function(d){return "#"+Math.floor(Math.random()*(256*256*256-1)).toString(16);}

                                // 定制显示（按顺序）
                                color: function (params) {
                                    var colorList = ['#B74AE5', '#0AAF9F', '#E89589', '#16A085', '#4A235A', '#C39BD3 ', '#F9E79F', '#BA4A00', '#ECF0F1', '#616A6B', '#EAF2F8', '#4A235A', '#3498DB'];
                                    return colorList[params.dataIndex]
                                }
                            },
                        },
                        data: provic
                    }
                ]
            };
            myChart.setOption(option);
        }
    </script>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
    <script src="~/js/map.js"></script>
    <script>
        $(document).ready(function () {
            $("#TogglePreviewTableBtn").click(function () {
                $(".toggleable-hidden").slideToggle();
            });
        });
        var inp = document.getElementById("site-list-container");
        var inpy = document.getElementById("site-list");
        inp.onclick = function () {
            if (inpy.style.display === 'none') {
                inpy.style.display = "block";
            } else {
                inpy.style.display = "none";
            }
        };

        $("#event-monitor-operation").click(function () {
            $(".nav-wrapper").addClass("hide");
            $(".main").css("margin-left", "51px");
            $(".simple-nav-wrapper").removeClass("hide");
        });
        $("#unfold").click(function () {
            $(".nav-wrapper").removeClass("hide");
            $(".main").css("margin-left", "181px");
            $(".simple-nav-wrapper").addClass("hide");
        })

        $("#main-menu>li>a").click(function () {
            var dd = $(this).next("ul").css('display');
            if (dd === "none") {
                $(this).next("ul").css('display', 'block');
            }
            if (dd === "block") {
                $(this).next("ul").css('display', 'none');
            }
        });


        $(".simple-nav>li>a").mouseenter(function () {
            $(this).next("ul").removeClass("hide");
            $(this).parent("li").addClass("cur");
        }).mouseleave(function () {
            $(this).next("ul").addClass("hide");
            $(this).parent("li").removeClass("cur");
        });

        $("#date-select-bar>a").click(function () {
            $(this).addClass("cur").siblings("a").removeClass("cur");
        })

        var mainMenu = document.getElementById("main-menu");
        var screenHeight = window.innerHeight
        mainMenu.style.height = screenHeight - 80 + "px";
    </script>
    <script src="~/js/re.js"></script>
</body>
</html>
